services:
  mysql:
    container_name: database
    image: mysql:latest
    restart: always
    command: --default-authentication-plugin=mysql_native_password --innodb_dedicated_server=true
    volumes:
      - ./dump:/docker-entrypoint-initdb.d
      - ./db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: customDB
    networks:
      - node-redis-web
    ports:
      - "127.0.0.1:3306:3306"
  phpmyadmin:
    container_name: pma
    image: phpmyadmin/phpmyadmin
    depends_on:
      - mysql
    ports:
      - 8081:80
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    links:
      - mysql
    networks:
      - node-redis-web
  redis:
    container_name: redis_db
    hostname: redis
    image: redis
    volumes:
      - ./redis_db:/data
    ports:
      - "6379:6379"
    restart: always
    networks:
      - node-redis-web 
  redis-commander:
    container_name: redis-commander
    hostname: redis-commander
    image: rediscommander/redis-commander:latest
    restart: always
    environment:
      - REDIS_HOSTS=local:redis_db:6379
      - HTTP_USER=root
      - HTTP_PASSWORD=qwerty
    ports:
      - "8082:8081"
    depends_on:
      - redis
    networks:
      - node-redis-web 
  app:
    build:
      context: ./app/
      target: dev
      dockerfile: Dockerfile
    volumes:
      - ./app:/app
      - /app/node_modules
    container_name: node-app
    ports:
      - 3000:3000
    networks:
      - node-redis-web

networks:
  node-redis-web:
    driver: bridge
